<!DOCTYPE html>


<html lang="en">
{% extends "lists.html" %}
{% load static %}


<head>
    <meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="{% static 'polls/lists.css' %}">
    <link rel="stylesheet" type="text/css" href="static/css/new_web_3.css">

    <title>Lists</title>



</head>
<body>
<a href="https://www.wysiwygwebbuilder.com" target="_blank"><img src="images/builtwithwwb17.png" alt="WYSIWYG Web Builder" style="position:absolute;left:440px;top:970px;margin: 0;border-width:0;z-index:250" width="16" height="16"></a>
<table style="position:absolute;left:238px;top:8px;width:1096px;height:78px;z-index:13;" id="Table1">
<tr>
<td class="cell0"><a id="Button24" href="./index.html" style="display:block;width: 100%;;height:74px;z-index:0;">Home</a>
</td>
<td class="cell1"><a id="Button22" href="./lists.html" style="display:block;width: 100%;;height:74px;z-index:1;">Lists</a>
</td>
<td class="cell2"><a id="Button23" href="./profile.html" style="display:block;width: 100%;;height:74px;z-index:2;">Profile</a>
</td>
<td class="cell3"><a id="Button20" href="./about.html" style="display:block;width: 100%;;height:74px;z-index:3;">About Us</a>
</td>
<td class="cell4"><a id="Button21" href="./login.html" style="display:block;width: 100%;;height:74px;z-index:4;">Log-in</a>
</td>
</tr>
</table>
<div id="wb_Image1" style="position:absolute;left:22px;top:8px;width:137px;height:78px;z-index:14;">
<img src="images/1.PNG" id="Image1" alt=""></div>
<div id="wb_Line2" style="position:absolute;left:178px;top:98px;width:3px;height:755px;opacity:0.20;z-index:15;">
<img src="images/img0005.png" id="Line2" alt="" width="-3" height="755"></div>
<div id="wb_Line3" style="position:absolute;left:1349px;top:99px;width:3px;height:740px;opacity:0.20;z-index:16;">
<img src="images/img0006.png" id="Line3" alt="" width="-3" height="740"></div>
<hr id="Line4" style="position:absolute;left:22px;top:857px;width:1331px;z-index:17;">
<div id="wb_Line5" style="position:absolute;left:5px;top:98px;width:3px;height:755px;opacity:0.20;z-index:18;">
<img src="images/img0007.png" id="Line5" alt="" width="-3" height="755"></div>
<input type="submit" id="Button1" name="" value="Recommend Me" style="position:absolute;left:379px;top:159px;width:173px;height:55px;z-index:19;">
<input type="submit" id="Button2" name="" value="My Watchlist" style="position:absolute;left:923px;top:159px;width:143px;height:55px;z-index:20;">
<img src="images/img0012.png" id="Banner1" alt="MDL" style="border-width:0;position:absolute;left:22px;top:8px;width:138px;height:78px;z-index:21;" width="138" height="78">




<table style="position:absolute;left:237px;top:281px;width:1075px;height:396px;z-index:22;" id="Table2">
<tr>
<td class="cell0"><p>Poster</p></td>
<td class="cell1"><p style="font-family:MS Sans Serif;font-size:27px;line-height:32px;"><span style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</span><span style="font-family:Arial;color:#E5E2D2;">ID</span></p>
<p style="font-size:13px;line-height:16px;">&nbsp;</p></td>
<td class="cell1"><p style="font-family:MS Sans Serif;font-size:27px;line-height:32px;"><span style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</span><span style="font-family:Arial;color:#E5E2D2;">Name</span></p>
<p style="font-size:13px;line-height:16px;">&nbsp;</p></td>
<td class="cell2"><p style="font-family:MS Sans Serif;"><span style="font-family:Calibri;">Rating</span></p>
<p style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</p></td>
<td class="cell1"><p style="font-family:MS Sans Serif;font-size:27px;line-height:32px;"><span style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</span><span style="font-family:Arial;color:#E5E2D2;">Genre</span></p>
<p style="font-size:13px;line-height:16px;">&nbsp;</p></td>
<td class="cell1"><p style="font-family:MS Sans Serif;font-size:27px;line-height:32px;"><span style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</span><span style="font-family:Arial;color:#E5E2D2;">Duration</span></p>
<p style="font-size:13px;line-height:16px;">&nbsp;</p></td>
<td class="cell3"><p style="font-family:MS Sans Serif;font-size:27px;line-height:32px;"><span style="font-family:Arial;font-size:13px;line-height:16px;">&nbsp;</span><span style="font-family:Arial;color:#E5E2D2;">Available on</span></p>
<p style="font-size:13px;line-height:16px;">&nbsp;</p></td>
</tr>


<tr>
<td class="cell4"><div id="wb_Image2" style="display:inline-block;width:100%;height:auto;z-index:10;">
<img src="images/im0.jpg" id="Image2" alt="" width="190" height="286">
</div>
</td>
<td class="cell5"><p style="font-size:13px;line-height:16px;">&nbsp;<span style="background-color:#1F497D;font-family:MS Sans Serif;font-size:19px;line-height:24px;color:#E5E2D2;">93376</span></p></td>
<td class="cell6"><p>&nbsp;Batmab</p></td>
<td class="cell6"><p>&nbsp;8</p></td>
<td class="cell6"><p>&nbsp;fdsf</p></td>
<td class="cell6"><p>&nbsp;34</p></td>
<td class="cell7"><p>&nbsp;dsfd</p></td>
</tr>
<tr>
<td class="cell8"><p>&nbsp;</p></td>
<td class="cell9"><p>&nbsp;</p></td>
<td class="cell9"><p>&nbsp;</p></td>
<td class="cell9"><p>&nbsp;</p></td>
<td class="cell9"><p>&nbsp;</p></td>
<td class="cell9"><p>&nbsp;</p></td>
<td class="cell10"><p>&nbsp;</p></td>
</tr>


</table>

</body>
</html>