
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Log in</title>
<link rel="stylesheet" type="text/css" href="static/css/new_web_3.css">
<link rel="stylesheet" type="text/css" href="static/css/login.css">
{% load static %}
</head>
<body>
<table style="position:absolute;left:234px;top:8px;width:1096px;height:78px;z-index:73;" id="Table1">
<tr>
<td class="cell0"><a id="Button24" href="{% url 'index'  %}" style="display:block;width: 100%;;height:74px;z-index:0;">Home</a>
</td>
<td class="cell1"><a id="Button22" href="{% url 'lists'  %}" style="display:block;width: 100%;;height:74px;z-index:1;">Lists</a>
</td>
<td class="cell2"><a id="Button23" href="{% url 'profile_page'  %}" style="display:block;width: 100%;;height:74px;z-index:0;">Profile</a>
</td>
<td class="cell3"><a id="Button20" href="{% url 'about'  %}" style="display:block;width: 100%;;height:74px;z-index:1;">About Us</a>
</td>
<td class="cell4"><a id="Button21" href="{% url 'login'  %}" style="display:block;width: 100%;;height:74px;z-index:2;">Log-in</a>
</td>
</tr>
</table>
<div id="wb_Image1" style="position:absolute;left:26px;top:8px;width:137px;height:78px;z-index:12;">
<img src="images/1.PNG" id="Image1" alt=""></div>
<div id="wb_Line3" style="position:absolute;left:1353px;top:99px;width:3px;height:740px;opacity:0.20;z-index:13;">
<img src="images/img0017.png" id="Line3" alt="" width="-3" height="740"></div>
<hr id="Line4" style="position:absolute;left:26px;top:857px;width:1331px;z-index:14;">
<div id="wb_Line5" style="position:absolute;left:9px;top:98px;width:3px;height:755px;opacity:0.20;z-index:15;">
<img src="images/img0018.png" id="Line5" alt="" width="-3" height="755"></div>
<a id="Button1" href="./register.html" style="position:absolute;left:633px;top:511px;width:117px;height:51px;z-index:16;">Register</a>
<div id="wb_Login1" style="position:absolute;left:528px;top:156px;width:335px;height:320px;z-index:17;">

<form action = '#' method="get">
<input type="hidden" name="form_name" value="loginform">
<table id="Login1">
<tr>
   <td class="header">Log In</td>
</tr>
<tr>
   <td class="label"><label for="username">User Name</label></td>
</tr>
<tr>
   <td class="row"><input class="input" name="username" type="text" id="username" value=""></td>
</tr>
<tr>
   <td class="label"><label for="password">Password</label></td>
</tr>
<tr>
   <td class="row"><input class="input" name="password" type="password" id="password" value="<?php echo $password; ?>"></td>
</tr>
<tr>
   <td class="row"><input id="rememberme" type="checkbox" name="rememberme"><label for="rememberme">Remember me</label></td>
</tr>
<tr>
   <td style="text-align:center;vertical-align:bottom"><input class="button" type="submit" name="login" value="Log In" id="login"></td><a href="{% url 'index' %}" ></a>
</tr>
</table>
</form>


</div>
<img src="{% static 'images/img0022.png' %}" id="Banner1" alt="MDL" style="border-width:0;position:absolute;left:25px;top:8px;width:138px;height:78px;z-index:18;" width="138" height="78">
</body>
</html>