<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Movie Details</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="static/css/new_web_3.css">
<link rel="stylesheet" type="text/css" href="static/css/movie_details.css">

</head>
<body>
<form action = '#' method="get">
<input type="submit" id="Button6" name="watchlist" value="Add to watchlist" style="position:absolute;left:874px;top:488px;width:116px;height:25px;z-index:11;">
</form>

<div id="wb_Image1" style="position:absolute;left:24px;top:9px;width:137px;height:78px;z-index:12;">

<img src="images/1.PNG" id="Image1" alt=""></div>
<a id="Button22" href="./lists.html" style="position:absolute;left:449px;top:10px;width:218px;height:74px;z-index:13;">Lists</a>
<a id="Button24" href="./index.html" style="position:absolute;left:242px;top:9px;width:202px;height:75px;z-index:14;">Home</a>
<table style="position:absolute;left:240px;top:9px;width:1096px;height:78px;z-index:15;" id="Table1">
<tr>
<td class="cell0"><a id="Button1" href="./index.html" style="display:block;width: 100%;;height:75px;z-index:0;">Home</a>
</td>
<td class="cell1"><a id="Button2" href="./lists.html" style="display:block;width: 100%;;height:74px;z-index:1;">Lists</a>
</td>
<td class="cell2"><a id="Button23" href="./profile.html" style="display:block;width: 100%;;height:74px;z-index:2;">Profile</a>
</td>
<td class="cell3"><a id="Button20" href="./about.html" style="display:block;width: 100%;;height:74px;z-index:3;">About Us</a>
</td>
<td class="cell4"><a id="Button21" href="./login.html" style="display:block;width: 100%;;height:74px;z-index:4;">Log-in</a>
</td>
</tr>
</table>
<img src="images/img0004.png" id="Banner1" alt="MDL" style="border-width:0;position:absolute;left:24px;top:9px;width:138px;height:78px;z-index:16;" width="138" height="78">
<div id="wb_Text2" style="position:absolute;left:473px;top:227px;width:250px;height:30px;z-index:17;">
<span style="color:#000000;font-family:Arial;font-size:13px;">{{Name}}<br></span></div>
<div id="wb_Text3" style="position:absolute;left:473px;top:268px;width:250px;height:30px;z-index:18;">
<span style="color:#000000;font-family:Arial;font-size:13px;">{{Genre}}<br></span></div>
<div id="wb_Text4" style="position:absolute;left:473px;top:306px;width:250px;height:30px;z-index:19;">
<span style="color:#000000;font-family:Arial;font-size:13px;">{{Vote}}<br></span></div>
<div id="wb_Text1" style="position:absolute;left:57px;top:547px;width:1278px;height:15px;z-index:20;">
<span style="color:#000000;font-family:Arial;font-size:13px;">{{Overview}}</span></div>
<div id="wb_Text6" style="position:absolute;left:389px;top:493px;width:250px;height:15px;z-index:21;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Available on</span></div>
<div id="wb_Text7" style="position:absolute;left:1074px;top:207px;width:250px;height:30px;z-index:22;">
<span style="color:#000000;font-family:Arial;font-size:13px;">{{Production}}<br></span></div>

<div id="wb_Text8" style="position:absolute;left:45px;top:666px;width:250px;height:30px;z-index:23;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Cast</strong></span></div>

<div id="wb_Image2" style="position:absolute;left:55px;top:132px;width:219px;height:329px;z-index:24;">
<img src="static/images/details/crb.jpg" id="Image2" alt=""></div>
<div id="wb_Image3" style="position:absolute;left:101px;top:732px;width:148px;height:222px;z-index:25;">
<img src="static/images/details/cr0.jpg" id="Image3" alt="" width="148" height="222"></div>
<div id="wb_Image4" style="position:absolute;left:370px;top:732px;width:147px;height:222px;z-index:26;">
<img src="static/images/details/cr1.jpg" id="Image4" alt="" width="147" height="221"></div>
<div id="wb_Image5" style="position:absolute;left:639px;top:732px;width:146px;height:222px;z-index:27;">
<img src="static/images/details/cr2.jpg" id="Image5" alt="" width="146" height="219"></div>
<div id="wb_Image6" style="position:absolute;left:918px;top:732px;width:156px;height:222px;z-index:28;">
<img src="static/images/details/cr3.jpg" id="Image6" alt="" width="156" height="234"></div>
<div id="wb_Text9" style="position:absolute;left:50px;top:508px;width:250px;height:30px;z-index:29;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Overview</strong></span></div>
<div id="wb_Text10" style="position:absolute;left:389px;top:449px;width:250px;height:30px;z-index:30;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Available on</strong></span></div>
<div id="wb_Text11" style="position:absolute;left:318px;top:227px;width:250px;height:30px;z-index:31;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Name</strong></span></div>
<div id="wb_Text12" style="position:absolute;left:318px;top:268px;width:250px;height:30px;z-index:32;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Genre</strong></span></div>
<div id="wb_Text13" style="position:absolute;left:318px;top:306px;width:250px;height:30px;z-index:33;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Rating</strong></span></div>
<div id="wb_Text5" style="position:absolute;left:885px;top:207px;width:250px;height:30px;z-index:34;">
<span style="color:#E5B9B7;font-family:Arial;font-size:27px;"><strong>Production</strong></span></div>
</body>
</html>