<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<link href="new_web_3.css" rel="stylesheet">
<link href="successfully-registered.css" rel="stylesheet">
</head>
<body>
<div id="wb_Heading1" style="position:absolute;left:421px;top:110px;width:329px;height:242px;z-index:1;">
<h3 id="Heading1">You have successfully registered press the button to continue.</h3></div>
<a id="Button1" href="{% url 'login'  %}" target="_blank" style="position:absolute;left:462px;top:315px;width:146px;height:60px;z-index:2;">CONTINUE</a>
</body>
</html>